@media (max-width:768px){
    .header{
        display: flex;
        flex-direction: column;
        width:100%;
        box-sizing: border-box;
        position: relative;
        transform: translateY(-350px);
    
    }
    
    .header-title{
        padding:45px 60px;
        text-align: initial;
        color:#5799fc;
        font-size:50px;
        font-family:"CeraPro-Medium, Cera Pro";
        font-weight:500;
    }
    
    .header-content{
        padding: 2px 60px;
        color:#8a8a8a;
        font-size:17px;
        font-family:"CeraPro-Medium, Cera Pro";
        font-weight:500;
        text-align: initial;
    }
    
    .header-form{
        padding: 70px 0px 0px 60px;
        display: flex;
        flex-direction:column;
        margin:0;
    }
    
    .header-form input{
        box-sizing: border-box;
        width: 90%;
        height: 48px;
        padding: 22px 50px;
        font-size:17px;
        font-family:"CeraPro-Medium, Cera Pro";
        border:transparent;
        outline: none;
        border-radius: 45px;
        box-shadow:0px 0px 8px #8a8a8a46;
    
    }
    
    .header-form button{
        box-sizing: border-box;
        height: 48px;
        width: 90%;
        font-size:17px;
        font-family:"CeraPro-Medium, Cera Pro";
        border:transparent;
        outline: none;
        margin:20px 0;
        border-radius: 40px;
        background: #7880fc;
        color:white;
    
    }
    .header-sub{
        display: flex;
        color:#7880fc;
        font-family:"CeraPro-Medium, Cera Pro";
        font-size: 17px;
        justify-content: initial;
        padding-left: 70px;
    
    }
    .header-sub button{
        border-radius:50px; 
        background: #7880fc;
        color:white;
        border: transparent;
        font-size:15px;
        font-weight: 100; 
        padding: 5px 18px;
        margin-right: 10px;
    }
    
}




@media (min-width:768px){
    .header{
        display: flex;
        flex-direction: column;
        width:47%;
        box-sizing: border-box;
        position: absolute;
        top:150px;
    
    }
    
    .header-title{
        padding:45px 60px;
        text-align: initial;
        color:#5799fc;
        font-size:50px;
        font-family:"CeraPro-Medium, Cera Pro";
        font-weight:500;
    }
    
    .header-content{
        padding: 2px 60px;
        color:#8a8a8a;
        font-size:17px;
        font-family:"CeraPro-Medium, Cera Pro";
        font-weight:500;
        text-align: initial;
    }
    
    .header-form{
        padding: 40px 0px 0px 56px;
        display: flex;
        flex-direction:column;
        margin:0;
    }
    
    .header-form input{
        box-sizing: border-box;
        width: 98%;
        height: 48px;
        padding: 22px 50px;
        font-size:17px;
        font-family:"CeraPro-Medium, Cera Pro";
        border:transparent;
        outline: none;
        border-radius: 45px;
        box-shadow:0px 0px 8px #8a8a8a46;
    
    }
    
    .header-form button{
        box-sizing: border-box;
        height: 48px;
        width: 40%;
        padding :auto;
        font-size:17px;
        font-family:"CeraPro-Medium, Cera Pro";
        border:transparent;
        outline: none;
        border-radius: 40px;
        transform: translate(-11px, -48px);
        align-self: flex-end;
        background: #7880fc;
        color:white;
    
    }
    .header-sub{
        display: flex;
        color:#7880fc;
        font-family:"CeraPro-Medium, Cera Pro";
        font-size: 17px;
        transform: translateY(-27px);
        padding-left: 60px;
    
    }
    .header-sub button{
        border-radius:50px; 
        background: #7880fc;
        color:white;
        border: transparent;
        font-size:15px;
        font-weight: 100; 
        padding: 5px 18px;
        margin-right: 10px;
    }
    

}

