@media(max-width:700px){
    .Head img{
      box-sizing: border-box;
      width: 100%;
      z-index: 0;
      position: relative;
      transform: scale(15);
    }
    .Laptop{
      box-sizing: border-box;
      position:relative;
      transform: translate(-80px,-180px) scale(0.4);
      z-index: 1;
    }

    .nav ul{
        z-index: 2;
        position: absolute;
        top:0;
        list-style-type: none;
        display:flex;
        width: 78%;
        justify-content:space-between;
    }
    .nav img{
        height: 50px;
    }
  
  }




  @media (min-width:700px){
    .Head img{
      box-sizing: border-box;
      width: 100%;
      z-index: 0;
      transform: translateY(-5px) scale(1.01);
    }
    .Laptop img{
      width: 40%;
      z-index: 1;
      position: absolute;
      top:35px;
      right: 45px;
    }


    .nav ul{
        z-index: 2;
        margin-left: 25%;
        position: absolute;
        top:0;
        list-style-type: none;
        display:flex;
        width: 64%;
        justify-content:space-between;
    }
    .nav img{
        height: 80px;
    }
  
  }